<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Machtigingen -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <!-- Nodig om de popup bovenop andere apps te tonen -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrepolisNotificationForwarder">

        <!-- Hoofdscherm (Instellingen & Pauze opties) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GrepolisNotificationForwarder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- De Popup Activiteit (Reactie scherm) -->
        <!-- We gebruiken singleInstance en NoActionBar om conflicten te voorkomen -->
        <activity
            android:name=".ResponseActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />

        <!-- De Achtergrond Service die meldingen leest -->
        <service
            android:name=".GrepolisNotificationService"
            android:label="Grepolis Forwarder Service"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
